{% extends "index.html" %} {% load static %} {% block content %}
<div class="container">
  <h1>Listado de Producto</h1>
  <!-- Formulario de búsqueda -->
  <form method="get" class="mb-3 d-flex">
    <input type="text" name="q" class="form-control me-2" placeholder="Buscar producto..."
      value="{{ query|default:'' }}" />
    <button type="submit" class="btn btn-primary">Buscar</button>
  </form>
  <!-- <input type="text" id="buscar" class="form-control mb-3" placeholder="Buscar producto..." /> -->
  <a href="{% url 'crear_producto' %}" class="btn btn-primary">Crear Producto</a>
  <a href="{% url 'enviar_pdf_email' %}" target="_blank" class="btn btn-warning">
    Enviar PDF por correo
  </a>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Disponivel</th>
        <th scope="col">Ajuste</th>
      </tr>
    </thead>
    <tbody>
      {% for p in page_obj %}
      <tr data-id="{{ p.id }}">
        <td>{{p.nombre}}</td>
        <td>{{p.price}}</td>
        <td>{{p.disponible}}</td>
        <td>
          <div>
            <a href="{% url 'editar_producto' p.id %}" class="btn btn-success">Editar</a>
            <button type="button" class="btn btn-sm btn-danger eliminar-btn" data-id="{{ p.id }}">
              Eliminar
            </button>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <nav>
    <ul class="pagination">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
      </li>
      {% endif %} {% for num in page_obj.paginator.page_range %}
      <li class="page-item {% if page_obj.number == num %}active{% endif %}">
        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
      </li>
      {% endfor %} {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
{% endblock %} {% block js %}
<script type="module" src="{% static 'JS/buscador.js' %}"></script>
<script type="module" src="{% static 'JS/ajax.js' %}"></script>


{% endblock %}